force-app/main/default/flows/OTX_Set_Approval_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Approved</name>
        <label>Is Approved?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OTX Set Approval Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTX Set Approval Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Approved</name>
        <label>Set Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Status__c</field>
            <value>
                <stringValue>Ready to Sign</stringValue>
            </value>
        </inputAssignments>
        <object>Outbound_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Rejected</name>
        <label>Set Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Outbound_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Approved</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
